*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    
}

@font-face{
    font-family: 'keep_calm';
    src: url('Style/Font/KeepCalm.ttf') format('truetype');
}

.font{
    font-family: 'keep_calm', Fallback, sans-serif;
}
header{
    margin-top: 0px;
    padding:10px;
    background-color: #222;
    color: white;
    text-align: center;
    font-size:125%;
}

#selfie{
    width: 150px;

}

.intro{
    display: inline-block;
    padding: 20px;
    border: 2px;
    margin: 10px;
    margin-left: 0;
    border-style: solid;
    border-color: black;
}

.content{
    margin: 30px 50px;

}

body{

}

#calvijn{
    width: 150px;
    position: absolute;
    left:400px;
}

#daVinci{
    width: 150px;
    position: absolute;
    left: 400px;
}
/*ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li{
    float: left;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}

*/

/*@media only screen and (min-width: 720px){*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:110%;
}



li a.active{
    background-color: #111;
}

li a:hover {
    animation-name: fade;
    animation-duration: 190ms;
    background-color: #444;
}

 @keyframes fade{
    from{background-color: #333;}
    to{background-color: #444;}
}
